##################################################
# TERRAFORM
##################################################

**/.terraform/*
*.tfstate
*.tfstate.*

##################################################
# ZIP FILES
##################################################

*.zip


*.aws

##################################################
# PYTHON
##################################################

__pycache__/
*.pyc