##################################################
# TERRAFORM
##################################################

**/.terraform/*
*.tfstate
*.tfstate.*

##################################################
# ZIP FILES
##################################################

lambda/function.zip


*.awsg

##################################################
# PYTHON
##################################################

__pycache__/
*.pyc